<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/sign-in-up.css" />
    <title>Sign In</title>
  </head>
  <body>
    <h1 class="title">A 2Do App</h1>
    <div class="container">
      <div class="main">
        <h1>SIGN IN</h1>
        <form action="/sign-in" method="POST">
          <div>
            <input type="email" name="email" placeholder="Email" required />
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
            <input class="submit" type="submit" />
          </div>
        </form>
      </div>
      <div class="second">
        <h3>New user?</h3>
        <button class="side-button"><a href="/sign-up">Sign Up!</a></button>
      </div>
    </div>
  </body>
</html>
