<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Profile</title>
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/update-profile.css" />
  </head>
  <body>
    <div class="container">
      <h1>Update Profile</h1>

      <form action="/update-profile" method="POST">
        <div>
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            value="<%= user.name %>"
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            value="<%= user.email %>"
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <div>
          <label for="confirm-password">Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirmPassword"
            placeholder="Confirm Password"
          />
        </div>
        <div>
          <input class="submit" type="submit" value="Update" />
        </div>
      </form>
    </div>
  </body>
</html>
