* {
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(70, 70, 70);
}

h1 {
  color: #0f4c75;
  text-align: center;
  height: 60px;
  margin-top: 10px;
  font-size: 2.4rem;
  padding-top: 5px;
  filter: drop-shadow(5px 5px 1px #e6e6e6);
}

.container {
  width: 80%;
  min-height: 100vh;
  /* transform: ; */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center aliging the container */
  background-color: white;
  /* overflow: hidden; */
}

.user-info {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0f4c75;
  margin-top: 10px;
}
.user-info button {
  background-color: #2196f3;
  border: 0;
  padding: 5px;
  border-radius: 2px;
}
.user-info button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

. label {
  display: block; /* making label block to have the input element appear below*/
}

input {
  border: 1px solid rgb(196, 196, 196);
  height: 20px;
  width: 100%;
}

/* common styling for the description category date and priority divs*/
.description,
.category,
.date,
.priority {
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid rgb(196, 196, 196);
  border-right: 0;
  border-left: 0;
  padding: 5px;
  /* text-align: center; */
}

.description {
  /* width: 100%; */ /* making the description div take full width of the line */
  padding-left: 15px;
  border-top: 0;
}

/* input tag of the desription div*/
.description input {
  height: 30px;
  border: 0;
}

/* common styles for the category date and priority div*/
.category,
.date,
.priority {
  width: 33%;
  display: inline-block;
  border-top: 0;
  border-bottom: 0;
  /* margin: 5px 0; */
}

/* date picker */
[type='date'] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat; /* calender icon */
}
[type='date']::-webkit-inner-spin-button {
  /* removing the inner part of the spinner button*/
  display: none;
}
[type='date']::-webkit-calendar-picker-indicator {
  /* removing the calendar downwards icon of the date input*/
  opacity: 0;
}
[type='date'] {
  width: 70%;
  height: 30px;
}

.category-date-priority {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* category input */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #0f4c75;
  height: 20px;
  border-radius: 2.5px;
}

select {
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  /* margin-top: 5px; */
  height: 30px;
  width: 150px;
}

/* common flex properties*/
.category,
.date,
.priority {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.category,
.date,
.priority input {
  width: 33%;
}

/*  buttons */

.btn-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  height: 100%;
}

.buttons {
  /* margin: 0 40px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 50%;
  margin: auto;
  position: relative;
  font-size: 2rem;
  /* border-bottom: 1px solid rgb(196, 196, 196); */
}

.add-task {
  height: 35px;
  width: 160px;
  border-radius: 5px;
  background-color: #2c3e50;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.add-task {
  background-color: #2c786c;
}
.delete-btn {
  background-color: #fe6845;
}

/* todo list*/

.todos-container {
  margin-top: 15px;
}

.todo-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 200px;
  float: right;
  color: rgb(70, 70, 70);
  border-radius: 2.5px;
  margin-bottom: 10px;
}
.todo-display select {
  width: 70px;
  margin-left: 2px;
}

#show-todo {
  background-color: #2196f3;
  font-weight: bold;
}

.todo-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.todo-container {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  height: 70px;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgb(236, 236, 236);
}
.todo-container a {
  color: #ef5350;
}

.checkbox {
  width: 12px;
  margin-left: 15px;
}

.todo-info {
  width: 60%;
}
.todo-info p {
  text-align: left;
  margin: 5px;
}

p::first-letter {
  /* making the first letter capital of all the todos*/
  text-transform: uppercase;
}

.category-display {
  height: 30px;
  width: 75px;
  background-color: white;
  position: relative;
}
.category-display p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.priority-display {
  width: 10%;
  margin-right: 15px;
  text-align: center;
}

/* adding the strike-through effect on the todos when the checkbox is clicked*/
input[type='checkbox']:checked ~ .todo-info {
  text-decoration: line-through;
  color: rgb(141, 140, 140);
}
